@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Work+Sans&display=swap');
/* font-family: 'Bebas Neue', cursive; */
/* font-family: 'Work Sans', sans-serif; */
body {
    font-family:'Work Sans', sans-serif;
}
.jumbotron {
    background-color: #ffd196;
}
h1, .link {
    color: #0097A7;
}
p {
    font-size: 1rem !important;
}
a {
    text-decoration: none;
    color: darkgray !important;
    font-weight: bold !important;

}
a:hover {
    text-decoration: underline;
    color: #0097A7;
    text-underline-position: under;
}
ul {
    width: 100vw;
}
nav{
    background-color: #D4FBFF;
}
.container {
    /* 87width: 60%; */
}